.image_actu {

    height:5em;
    width: auto;
    border-radius: 23px;
    padding: 0.5em;
}

td {
    text-align: center;
}

p {
    width: 23em;
}

table {
    display: inline-table;
    padding: 1.5%;
    margin: 1.7%;
    padding-top: 0.3%;
    border-top-left-radius: 40px 40px;
    border-bottom-right-radius: 40px 40px;
    width: 42%;
}

#last_reviews {
    background-color: #B7D7E4;
    border-collapse: collapse;
}

#last_actus_imie {
    background-color: #BADBD0;
    border-collapse: collapse;
}

#last_cours {
    background-color: #C9B9D3;
    border-collapse: collapse;
}

#last_actus {
    background-color: #DFB0B8;
    border-collapse: collapse;
}

div {
    text-align: center;
}

#couleur_banniere_actus {
    background-color: #EC3C50;
    height: 2em;
}

#couleur_banniere_review {
    background-color: #009FE3;
    height: 2em;
}

#couleur_banniere_cours {
    background-color: #8E3FBF;
    height: 2em;
}

#couleur_banniere_actus_imie {
    background-color: #4FB492;
    height: 2em;
}

#couleur_banniere_actus_bas {
    background-color: #A06D72;
    height: 2em;
}

#couleur_banniere_review_bas {
    background-color: #6794A7;
    height: 2em;
}

#couleur_banniere_cours_bas {
    background-color: #907AA0;
    height: 2em;
}

#couleur_banniere_actus_imie_bas {
    background-color: #769C8F;
    height: 2em;
}

.border_banniere_top {
    border-top-left-radius: 80px 80px;
}

.border_banniere_bottom {
    border-bottom-right-radius: 80px 80px;
}

.panneau {
    display : flex ;
    flex-wrap : wrap;
}