.itk_header {
    background-color: black;
}

.itk_container {
    height: 54px;
}
.itk_menu_deroulant {
}

li {
    display: inline-block;
    vertical-align:middle;
}

ul {
    color: white

}

html, body, ul {
    margin: 0;
    padding: 0;
}