.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: grey;
    text-align: center;
    color: white;
}
.footer_bas {
    vertical-align: middle;
    padding-left: 7vw;
    padding-right: 7vw;
    display: inline;
}
.footer_logo {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
}
.footer_logo_img {
    display: inline;
    padding-right: 10vw;
}
.logo_footer {
    width: 40px;
    float: left;
}
.logo {
    width: 40px;
}

footer {
    width: 100%;
}