.bvn {
	color: white;
}
.logoimie {
	height: 37.6px;
	float: right;
}

#bandeau_rouge {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	text-align: center;
	background-color: #EA3D4F;
}

div.bvn {
	color: white;
	font-size: 2rem;
	vertical-align: middle;
}
a {
	color: white;
	text-decoration: none;
}
html, body, header, ul, h1{
	margin: 0;
	padding: 0;
}


@media screen and (max-width: 600px) and (min-width: 300px){
	div.bvn {
		font-size: 1.5rem;
	}
}
@media screen and (max-width: 300px) {
	div.bvn {
		font-size: 1rem;
	}
}